
body {
    display: block;
    margin: 0 5%;
    background-color: #fff0f6;
}



h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
    
}

.h1-container {
    display: block;
    margin: 10px auto;
    width: 85%;
    padding: 10px;
    
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    font-weight: 400;
}

.poppins-list {
    font-family:'Poppins', sans-serif;
}

.source-code-pro-list {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    font-weight: 400;
}

.container {
    border: 3px solid;
    border-radius: 4px;
    border-top-color: #3b2d5a;
    border-right-color: #dd79a5;
    border-bottom-color: #7ec5ed;
    border-left-color: #f6da4e;
    display: block;
    margin: 10px auto;
    width: 85%;
    padding: 10px;
    
}


.container:hover {
    border: 4px solid;
    border-top-color: #3b2d5a;
    border-right-color: #dd79a5;
    border-bottom-color: #7ec5ed;
    border-left-color: #f6da4e;
}

.color-panel {
    display: inline-block;
    text-align: center;
    width: 32%;
    margin: 20px auto;
    min-height: 100px;
    
}

.dark-purple {
    background-color: #3b2d5a;
    color: white;
}

.pink {
    background-color: #dd79a5;
    color: white;
}

.light-blue {
    background-color: #7ec5ed;
    color: white;
}

.yellow {
    background-color: #f6da4e;
    color: white;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 800;
}

.button:hover {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    text-decoration: underline;
    color: #7ec5ed;
    background-color: #3b2d5a;
    box-shadow: 0px 0px #f6da4e;
    transition: background-color 2s, box-shadow .2s;
   
}

a:visited:hover {
    color: #f6da4e
}

a:visited {
    color: #7ec5ed;
}

.button {
    border-radius: 8px;
    box-shadow: 2px 4px #3b2d5a;
    display: block;
    box-sizing: border-box;
    width: fit-content;
    padding: 4px;
    background-color: #dd79a5;

}